body{
    display: grid;    
    grid-template-areas:
        ' nav '
        ' header '
        ' info '
        ' vid '
        ' pessoas '
        ' footer ';
    grid-template-rows: 1vh 77vh 29vh 15vh;
    grid-template-columns: 100vw;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: gray;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 0;
    scrollbar-color: transparent;
}

nav{
    background-color: #2CBF60;
    grid-area: nav;
    width: 100vw;
}

header{
    align-items: center;
    background-image: url(image/banner.png); 
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    grid-area: header;
    justify-content: space-around;
	height: 77vh;
}


header section{
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    align-items: flex-end;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 5.1rem;
    font-weight: normal;
    margin-block-end: 0.6em;
}

span{
    color: #2CBF60;
}

.definition {
    font-size: 1.7rem;
    line-height: 1;
    margin-block-end: 9%;
}

header button{
    height: 72px;
    border: none;
    border-radius: 38px;
    background-color: black;
    border-bottom-width: 7px;
    margin-left: auto;
    margin-right: 10%;
    opacity: 0.6;
    width: 73px;
}

header section aside{
    width: auto;
}

.hand{
    max-width: 18em;
    max-height: 23em;
    width: auto;
    height: auto;
    display: none;
}

@media (min-width:700px){
    .hand{display: block;}
}

.info{
    grid-area: info;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    margin-top: 0;
    background-color: white;
    padding: 0;
    height: 100%;
}

.info div{
    margin-inline-start: 5%;
    color: black;
    font-weight: bold;
    margin-top: 5px
}

.info button{
    height: 4.5rem;
    border: none;
    border-radius: 2.5rem;
    background-color: #2CBF60;
    border-bottom-width: 0.5rem;
    margin-left: auto;
    width: 4.5rem;
}

